.static__desc {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 70px;
  gap: 300px;
}

.staticimg {
  width: 75px;
  text-align: center;
}
.static-desc__text {
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  color: #22262a;
}
